################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Libraries
/.vs/Vulkan 101
/Vulkan 101/Debug/Vulkan 101.tlog
/Vulkan 101.VC.VC.opendb
/Vulkan 101.VC.db
/.vs/Vulkan 101
/.vs/Vulkan 101
/.vs/Vulkan 101/v15
/.vs/Vulkan 101/v15
/.vs/Vulkan 101/v15/Browse.VC.db
/.vs/Vulkan 101/v15/Browse.VC.db
/.vs/Vulkan 101/v15/Browse.VC.opendb
/.vs/Vulkan 101/v15/Browse.VC.db
/.vs/Vulkan 101/v15/Browse.VC.db
